.logo {
  font-size: 2em;
  font-weight: 600;
  color: #fff;
  width: 200px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
  line-height: 1;
  padding: 0px 5px;
}
